:root {
  --btn--color--donate--default: #f37021;
  --btn--color--donate--hover: #679f68;
  --btn--color--donate--pressed: #4f8150;
  --color--text--inverse: #fff;
  --radius--lg: 12px;
  --spacing--lg: 24px;
  --spacing--md: 16px;
  --spacing--sm: 8px;
  --radius--sm: 4px;
  --btn--color--default: #1f78c1;
  --cursory: 0px;
  --title: "96%+";
  --activation-offset: -126px;
  --number: -200px;
  --btn--color--hover: #3491dc;
  --btn--color--pressed: #175e99;
  --btn--color--disabled: #b4d5ec;
  --color--border--default: #c4c4c4;
  --color--brand--primary: #8c1f1f;
  --color--brand--accent--orange: #f37021;
  --color--brand--accent--blue: #1f78c1;
  --color--brand--accent--green: #679f68;
  --color--feedback--info: #b3dbfb;
  --color--feedback--warning: #fdd6a5;
  --color--feedback--color--text--primary: #3f3f3f;
  --color--surface--alt: #f2f2f2;
  --color--text--color--surface--default: #f2f5f7;
  --radius--md: 8px;
  --radius--full: 9999px;
  --spacing--xs: 4px;
  --spacing--xl: 32px;
  --spacing--3xl: 48px;
  --spacing--2xl: 40px;
  --spacing--4xl: 64px;
  --spacing--badding--desktop: 80px;
  --spacing--badding--tablet: 56px;
  --spacing--badding--mobile: 32px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  font-family: Montserrat, sans-serif;
}

.donate-btn {
  z-index: 1;
  background-color: var(--btn--color--donate--default);
  transform: scale3d(1none, 1none, 1none);
  color: #fff;
  letter-spacing: .0313rem;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  transform-style: preserve-3d;
  background-clip: border-box;
  border-radius: 9999px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 8.375rem;
  height: 3.1rem;
  padding: 13px 40px;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: ease;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px -2px #f3702180;
}

.donate-btn:hover {
  background-color: var(--btn--color--donate--hover);
  flex: 0 auto;
  transform: scale(1.02);
  box-shadow: 0 40px 40px 4px #679f6845;
}

.donate-btn:active {
  background-color: var(--btn--color--donate--pressed);
}

.navbar_dropdwn-toggle {
  grid-column-gap: .5rem;
  color: var(--color--text--inverse);
  align-items: center;
  padding: .5rem;
  display: flex;
}

.navbar_menu-button {
  padding: 0;
}

.navbar2_dropdown-list.w--open {
  border: var(--\<unknown\|relume-variable-border-width\>) none var(--\<unknown\|relume-variable-color-scheme-1-border\>);
  border-radius: var(--radius--lg);
  background-color: var(--\<unknown\|relume-variable-color-scheme-1-background\>);
  padding: .5rem;
  transition: bottom .2s;
  position: absolute;
}

.navbar_component {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 0px solid var(--\<unknown\|relume-variable-color-scheme-1-background\>);
  -webkit-text-fill-color: inherit;
  background-color: #ddd0;
  background-clip: border-box;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding: 18px 5%;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.dropdown-chevron {
  color: var(--color--text--inverse);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.navbar-logo {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  display: flex;
}

.navbar2_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1.75fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
}

.navbar2_menu-dropdown {
  color: var(--color--text--inverse);
}

.navbar_link {
  padding: .5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
}

.navbar_link.w--current {
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.navbar_menu {
  color: var(--color--text--inverse);
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.navbar_button-wrapper {
  grid-column-gap: 1rem;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 1rem;
  display: flex;
}

.navbar2_dropdown-link {
  color: var(--color--text--inverse);
  padding: .5rem 1rem;
  font-size: 1rem;
  display: flex;
}

.navbar2_dropdown-link:hover {
  background-color: #0a0a0a3d;
}

.navbar2_dropdown-link.w--current {
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.container {
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
  overflow: visible;
}

.container.about-us {
  grid-column-gap: 14%;
  grid-row-gap: 14%;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  display: flex;
}

.donate-daraw {
  z-index: 9000;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: .5;
  pointer-events: none;
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
  position: absolute;
  inset: 16px auto auto 60px;
}

.donate-daraw:hover {
  pointer-events: none;
  padding-right: 10px;
}

.donate-hearts {
  z-index: 99;
  pointer-events: none;
  width: 10rem;
  position: absolute;
  top: 5px;
}

.image.logo {
  flex: none;
  width: 167px;
  max-width: none;
  display: block;
}

.hamburger-menu {
  background-color: #fff0;
  width: 141px;
  height: 250px;
}

.navbar-glass-filter {
  display: none;
}

.navbar-glass-effect {
  filter: url('../images/');
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: inherit;
  display: none;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.navbar-glass-effect.dropdownl-list {
  display: block;
}

.navbar-glass-tint {
  border-radius: inherit;
  background-color: #0009;
  display: none;
  position: absolute;
  inset: 0%;
  overflow: visible;
}

.navbar-glass-tint.navbar2_dropdown-list {
  border-radius: inherit;
  background-color: #00000030;
  display: block;
}

.navbar-glass-shine {
  border-radius: inherit;
  display: none;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  box-shadow: inset -1px -1px 1px 1px #ffffff4d, inset 2px 2px 1px #ffffff4d;
}

.navbar-glass-shine.navbar2_dropdown-list {
  display: block;
}

.section {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.section.hero-slider {
  height: 100vh;
  padding-top: 0;
  display: block;
}

.section.stats-section {
  padding-bottom: 120px;
}

.section.get-involved-section {
  padding-top: 120px;
}

.slide-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slide-img {
  background-image: none;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-txt-wrap {
  z-index: 2;
  box-sizing: border-box;
  grid-column-gap: var(--spacing--lg);
  grid-row-gap: var(--spacing--lg);
  aspect-ratio: auto;
  color: #fff;
  text-overflow: clip;
  white-space: normal;
  overflow-wrap: break-word;
  vertical-align: sub;
  object-fit: fill;
  flex-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 60%;
  height: auto;
  margin-top: 100px;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  display: flex;
  position: relative;
}

.slider-2 {
  background-color: #0000;
  height: 100%;
}

.img-hero-slider {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: static;
  inset: 0%;
  overflow: auto;
}

.hero-slider-overlay {
  z-index: 1;
  background-color: #0000004d;
  background-image: linear-gradient(#00000080, #0000 50%);
  position: absolute;
  inset: 0%;
}

.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Orelega One, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 80px;
}

.large {
  letter-spacing: .25px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 32px;
}

.large.stats {
  color: #fff;
  width: 700px;
  display: none;
}

.code-embed {
  display: none;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.medium {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.white-btn {
  -webkit-text-fill-color: inherit;
  background-color: #3898ec00;
  background-clip: border-box;
  border: 1px solid #fff;
  border-radius: .25rem;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
}

.white-btn.center {
  margin-left: auto;
  margin-right: auto;
}

.stats_desktop {
  grid-row-gap: 80px;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-style {
  grid-row-gap: 80px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-style-2 {
  grid-column-gap: 32px;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: 614px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-style-3 {
  cursor: pointer;
  background-color: #b26161;
  border: 0 solid #00000026;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  height: 614px;
  padding: 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.stats-num {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 120%;
  position: relative;
}

.frame-style-4 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  max-width: 341px;
  text-decoration: none;
  display: flex;
}

.h3 {
  color: #fff;
  letter-spacing: .25px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
}

.frame-style-6 {
  cursor: pointer;
  background-color: #3e8ede;
  border: 0 solid #00000026;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  height: 270px;
  margin-bottom: 32px;
  padding: 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-style-7 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 342px;
  text-decoration: none;
  display: flex;
}

.frame-style-8 {
  background-color: #6a9e6c;
  border: 0 solid #00000026;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  height: 310px;
  padding: 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-style-9 {
  grid-row-gap: 34px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 378px;
  height: 614px;
  display: flex;
}

.frame-style-10 {
  background-color: #ef8745;
  border: 0 solid #00000026;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  height: 326px;
  padding: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-3 {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.frame-style-11 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #fff;
  letter-spacing: .25px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
}

.frame-style-12 {
  background-color: #3e8ede;
  border: 0 solid #00000026;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 380px;
  height: 254px;
  padding: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-2 {
  max-width: none;
  position: absolute;
  inset: 5% 0% 0% 2%;
  overflow: visible;
}

.image-3 {
  max-width: none;
  position: absolute;
  top: 75px;
  left: -235px;
}

.image-4 {
  max-width: none;
  position: absolute;
  top: -22.0035px;
  left: 83.9965px;
}

.image-5 {
  max-width: none;
  position: absolute;
  left: -158px;
}

.image-6 {
  max-width: none;
  position: absolute;
  top: 29.9965px;
  left: 20.003px;
}

.div-block-2 {
  flex-flow: column;
  display: flex;
  overflow: visible;
}

.mask {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.stats {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "Area-1 Area-2 Area-4" 2fr
                 "Area-1 Area-2 Area-5"
                 "Area-1 Area-3 Area-5"
                 / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.stats1 {
  border-radius: var(--radius--lg);
  cursor: pointer;
  background-color: #b26161;
  background-image: url('../images/overlay_texture.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 369.33px;
  height: 600px;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.stats2 {
  border-radius: var(--radius--lg);
  cursor: pointer;
  background-color: #3e8ede;
  background-image: url('../images/overlay_texture.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 369.33px;
  height: 320px;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.stats3 {
  border-radius: var(--radius--lg);
  cursor: pointer;
  background-color: #6a9e6c;
  background-image: url('../images/overlay_texture.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 369.33px;
  height: 250px;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.stats-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.flex-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.stats4 {
  border-radius: var(--radius--lg);
  cursor: pointer;
  background-color: #ef8745;
  background-image: url('../images/overlay_texture.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 369.33px;
  height: 250px;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.stats5 {
  border-radius: var(--radius--lg);
  cursor: pointer;
  background-color: #3e8ede;
  background-image: url('../images/overlay_texture.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 369.33px;
  height: 320px;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.flex-block-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.code-embed-2 {
  display: none;
}

.section-wrapper {
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-background {
  z-index: -1;
  background-image: url('../images/video-cover.webp');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
}

.h2 {
  font-family: Orelega One, sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.h2.boxed {
  margin-top: 0;
}

.background-video {
  z-index: -1;
  background-color: #00000080;
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.video-overlay {
  mix-blend-mode: multiply;
  background-color: #00000080;
  position: absolute;
  inset: 0%;
}

.container-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-radius: var(--radius--sm);
  background-color: var(--btn--color--default);
  color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  overflow: hidden;
}

.div-block-4 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  align-items: flex-start;
  padding: 3rem;
  display: flex;
}

.small {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.caption {
  font-size: 1rem;
  line-height: 1.5rem;
}

.side-photo {
  object-fit: cover;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-8 {
  box-sizing: border-box;
  object-fit: cover;
  max-width: none;
  height: 50%;
  overflow: hidden;
}

.image-9 {
  object-fit: cover;
  position: absolute;
  inset: auto;
}

@media screen and (max-width: 991px) {
  .donate-btn:hover {
    box-shadow: 0 20px 40px 4px var(--btn--color--donate--hover);
  }

  .navbar_dropdwn-toggle {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: .25rem 2rem .25rem 0;
    display: flex;
  }

  .navbar_dropdwn-toggle.w--open {
    justify-content: flex-start;
    align-items: center;
  }

  .navbar_menu-button {
    padding: 0;
  }

  .navbar_menu-button.w--open {
    background-color: var(--\<unknown\|relume-variable-transparent\>);
  }

  .navbar2_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar2_dropdown-list.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }

  .navbar_component {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .dropdown-chevron {
    inset: auto 0% auto auto;
  }

  .navbar2_container {
    grid-template-columns: .25fr 1fr;
    width: 100%;
    display: flex;
  }

  .navbar2_menu-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    font-size: 1.125rem;
    display: flex;
  }

  .navbar_link {
    text-align: center;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar_menu {
    -webkit-text-fill-color: inherit;
    background-color: #3f3f3f00;
    background-clip: content-box;
    border-bottom: 0 solid #000;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 325px;
    padding: .5rem 0%;
    display: flex;
    position: absolute;
    inset: 100% 7% auto auto;
    overflow: auto;
    box-shadow: 0 0 20px #0000001a, 0 6px 6px #0003;
  }

  .navbar_button-wrapper {
    align-items: center;
  }

  .navbar2_dropdown-link {
    text-align: center;
    width: auto;
    padding: .75rem 2rem .75rem 0;
    font-size: 1rem;
  }

  .navbar2_dropdown-link:hover {
    background-color: #0a0a0a00;
  }

  .container {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container.box-2sides {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .donate-hearts {
    right: 137px;
  }

  .image.logo {
    width: 9.375rem;
  }

  .hamburger-menu {
    width: 6rem;
    height: 5rem;
    overflow: hidden;
  }

  .navbar-glass-filter {
    overflow: visible;
  }

  .navbar-glass-effect {
    filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: block;
  }

  .navbar-glass-effect.dropdownl-list {
    display: none;
  }

  .navbar-glass-tint {
    background-color: #0003;
    border: 1px solid #ffffff40;
    display: block;
  }

  .navbar-glass-tint.navbar2_dropdown-list {
    display: none;
  }

  .navbar-glass-shine {
    display: block;
    box-shadow: inset 0 4px 3px #ffffff4d;
  }

  .navbar-glass-shine.navbar2_dropdown-list {
    display: none;
  }

  .lottie-wrap {
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    display: flex;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.stats-section {
    padding-bottom: 80px;
  }

  .section.get-involved-section {
    padding-top: 80px;
  }

  .slide-content {
    position: absolute;
  }

  .slide-img {
    inset: 0%;
  }

  .slide-txt-wrap {
    grid-column-gap: var(--spacing--md);
    grid-row-gap: var(--spacing--md);
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
    display: flex;
    overflow: visible;
  }

  .img-hero-slider {
    box-sizing: border-box;
    aspect-ratio: auto;
    object-fit: cover;
    height: 100vh;
    display: block;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }

  .hero-slider-overlay {
    mix-blend-mode: multiply;
    inset: 0%;
  }

  .h1 {
    font-size: 3.375rem;
    line-height: 4rem;
  }

  .large {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .large.stats {
    width: 600px;
    display: none;
  }

  .h4 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }

  .medium {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .white-btn {
    font-size: 1.125rem;
  }

  .stats-num {
    font-size: 3.75rem;
  }

  .h3 {
    font-size: 1.75rem;
  }

  .image-2 {
    height: 100%;
  }

  .image-3 {
    height: 100%;
    top: 40px;
    left: -107px;
  }

  .image-4 {
    height: 120%;
    top: -11.0035px;
    left: 124.997px;
  }

  .image-5 {
    height: 80%;
    left: -45px;
  }

  .image-6 {
    height: 100%;
    left: 55.003px;
  }

  .mask {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .stats1 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 337px;
    height: 452px;
    padding: 1.5rem;
  }

  .stats2, .stats3 {
    width: 337px;
    height: 210px;
    padding: 1.5rem;
  }

  .stats-block {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 704px;
    height: 692px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-block {
    justify-content: space-between;
    height: 452px;
  }

  .stats4, .stats5 {
    width: 337px;
    height: 210px;
    padding: 1.5rem;
  }

  .flex-block-2 {
    flex-flow: row;
  }

  .h2 {
    font-size: 2.375rem;
    line-height: 3rem;
  }

  .div-block-4 {
    grid-column-gap: var(--spacing--md);
    grid-row-gap: var(--spacing--md);
  }

  .small {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .side-photo {
    flex-flow: row;
    justify-content: center;
    align-items: stretch;
    display: flex;
    overflow: hidden;
  }

  .image-7 {
    box-sizing: content-box;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: none;
    position: static;
    inset: 0%;
    overflow: clip;
  }

  .image-8 {
    object-fit: cover;
  }

  .image-9 {
    box-sizing: border-box;
    object-fit: fill;
    max-width: none;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navbar_component {
    min-height: 4rem;
  }

  .container {
    max-width: 768px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .container.about-us {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container.box-2sides {
    padding-left: 0;
    padding-right: 0;
  }

  .image.logo {
    width: 8.25rem;
  }

  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section.stats-section {
    padding-bottom: 40px;
  }

  .section.get-involved-section {
    padding-top: 40px;
  }

  .slide-content {
    inset: 0%;
  }

  .slide-img {
    -webkit-text-fill-color: inherit;
    background-image: linear-gradient(#000000bf, #000000bf);
    background-clip: border-box;
    position: absolute;
    overflow: hidden;
  }

  .slide-txt-wrap {
    z-index: 2;
    grid-column-gap: var(--spacing--sm);
    grid-row-gap: var(--spacing--sm);
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .img-hero-slider {
    object-fit: cover;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }

  .hero-slider-overlay {
    z-index: 1;
    background-color: #0006;
  }

  .h1 {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }

  .large {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .large.stats {
    opacity: 0;
    width: 100%;
    display: none;
    position: relative;
  }

  .div-block {
    text-align: center;
  }

  .h4 {
    font-size: 1.25rem;
  }

  .medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .white-btn {
    align-self: flex-start;
  }

  .stats-num {
    font-size: 2.8125rem;
    line-height: 1.4375rem;
  }

  .frame-style-4 {
    grid-column-gap: 8px;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    max-width: none;
    display: flex;
  }

  .h3 {
    line-height: 1.4375rem;
  }

  .frame-style-7 {
    justify-content: flex-end;
    align-items: center;
  }

  .image-2 {
    height: 120%;
    top: -4%;
    left: 70%;
  }

  .image-3 {
    height: 120%;
    inset: 4px auto 0% 36%;
    overflow: visible;
  }

  .image-4 {
    left: 331.997px;
  }

  .image-5 {
    height: 140%;
    top: -20px;
    left: -9px;
  }

  .image-6 {
    height: 130%;
    top: 1.9965px;
    left: 221.003px;
  }

  .stats1 {
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
    padding: 1.5rem;
  }

  .stats2 {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
    padding: 1.5rem;
  }

  .stats3 {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
  }

  .stats-block {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
  }

  .flex-block {
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }

  .stats4, .stats5 {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
  }

  .flex-block-2 {
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }

  .div-background {
    background-image: url('../images/video-cover.webp');
    background-position: 50%;
    height: 120vh;
    display: block;
  }

  .h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .background-video {
    display: none;
  }

  .div-block-3 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .div-block-4 {
    grid-column-gap: var(--spacing--sm);
    grid-row-gap: var(--spacing--sm);
  }

  .small {
    font-size: .875rem;
    line-height: 1.5rem;
  }

  .side-photo {
    aspect-ratio: 1;
    object-fit: fill;
  }

  .image-9 {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .donate-btn {
    width: 6.0625rem;
    height: 2.375rem;
    font-size: 1rem;
  }

  .navbar_component {
    padding-left: 0%;
    padding-right: 0%;
  }

  .navbar2_container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .container.box-2sides {
    width: 90%;
  }

  .donate-daraw {
    width: 5rem;
    top: 10px;
    left: 40px;
  }

  .donate-hearts {
    right: 60px;
  }

  .lottie-wrap {
    width: 44px;
  }

  .slide-txt-wrap {
    grid-column-gap: var(--spacing--sm);
    grid-row-gap: var(--spacing--sm);
    grid-auto-flow: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .hero-slider-overlay {
    z-index: 1;
    background-color: #0006;
  }

  .h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }

  .white-btn {
    font-size: 1rem;
  }

  .h3 {
    font-size: 1.4375rem;
  }

  .image-2 {
    left: 63%;
  }

  .image-3 {
    left: 28px;
  }

  .image-4 {
    left: 189.997px;
  }

  .image-5 {
    height: 101%;
    top: 5px;
    left: -12px;
  }

  .image-6 {
    height: 100%;
    left: 136.003px;
  }

  .div-background {
    background-position: 50%;
  }

  .div-block-4 {
    grid-column-gap: var(--spacing--sm);
    grid-row-gap: var(--spacing--sm);
    padding: 2rem;
  }

  .caption {
    font-size: .75rem;
    line-height: 1.25rem;
  }
}

#w-node-_310a7111-8107-43f1-10aa-496c0450cc13-0450cc10 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_310a7111-8107-43f1-10aa-496c0450cc15-0450cc10 {
  justify-self: center;
}

#w-node-_310a7111-8107-43f1-10aa-496c0450cc4c-0450cc10 {
  justify-self: end;
}


